<section class="container devise">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6">

      <div class="card">
        <h2><%= t('devise.sign_in') %></h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <fieldset>
            <%= f.label :email %>
            <%= f.email_field :email, value: "admin@domain.com", autofocus: true, class: "uk-input" %>
          </fieldset>

          <fieldset>
            <%= f.label :password %>
            <%= f.password_field :password, value: "password", autocomplete: "off", class: "uk-input" %>
          </fieldset>

          <div class="actions">
            <%= f.submit t('devise.sign_in'), class: "button button-primary" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</section>
