<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, value: "admin@domain.com", autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <br />
        <%= f.label :password %><br />
        <%= f.password_field :password, value: "password", autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <br />
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
