<!DOCTYPE html>
<html>
  <head>
    <title>Boilerplate | Admin</title>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/css/uikit.min.css" />
    <%= stylesheet_link_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/js/uikit-icons.min.js"></script>    
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <script type='text/javascript'>
      const translations = <%= ui_translations(:admin) %>;
    </script>
    <script type='text/javascript'>
      I18n = {
        prefix: '<%= I18n.locale == I18n.default_locale ? "" : "#{I18n.locale}/" %>',
        locale: '<%= I18n.locale %>',
        availableLocales: <%= raw(I18n.available_locales.map {|loc| loc.to_s}) %>
      }
    </script>
  </head>
  <body class="admin">
    <div id="app"></div>

    <%= vite_javascript_tag 'admin' %>
  </body>
</html>
