<html data-theme="dark">
  <head>
    <title>Boilerplate | Admin</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <%= stylesheet_link_tag 'admin/application' %>
    
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <script type='text/javascript'>
      const translations = <%= ui_translations(:admin) %>;
    </script>
    <script type='text/javascript'>
      I18n = {
        prefix: '<%= I18n.locale == I18n.default_locale ? "" : "#{I18n.locale}/" %>',
        locale: '<%= I18n.locale %>',
        availableLocales: <%= raw(I18n.available_locales.map {|loc| loc.to_s}) %>
      }
    </script>
  </head>
  <body>
    <div id="app"></div>

    <%= vite_javascript_tag 'admin' %>
  </body>
</html>
