<!DOCTYPE html>
<html>
  <head>
    <title>Boilerplate</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js' %>
    
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    
    <script type="text/javascript">
      const translations = <%= ui_translations(:front) %>;
    </script>

    <script type="text/javascript">
      I18n = {
        prefix: '<%= I18n.locale == I18n.default_locale ? "" : "#{I18n.locale}/" %>',
        locale: '<%= I18n.locale %>',
        availableLocales: <%= raw(I18n.available_locales.map {|loc| loc.to_s}) %>
      }
    </script>
  </head>
  <body class="front">
    <div id="app"></div>
    
    <%= vite_javascript_tag 'application' %>
  </body>
</html>
